.clock {
    background: #333333;
    width: 200px;
    padding:10px;
    text-align:center;
    border-radius:10px;
}

.clock_time,
.clock_ampm{

    font-family: 'Concert One',cursive;
    font-size: 30px;
    color:#eeeeee;


}

.clock_time{
    font-size: 60px;
}